/* country-detail-styles.css */

/* Style for the country detail card */
#country-detail-card {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
}

.card-header {
    background-color: #f7f7f7;
    padding: 20px;
}

.card-header h1 {
    margin: 0;
    font-size: 2em;
}

.country-image {
    position: relative;
    width: 100%;
    padding: 20px 20px 15px 20px; /* Adjusted padding-bottom */
    box-sizing: border-box;
}

.country-image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.country-info {
    text-align: left;
    padding: 15px 20px 20px 20px; /* Adjusted padding-top */
}

.country-info p {
    margin: 10px 0;
}

.country-info p:first-child {
    margin-top: 0;
}

.country-info strong {
    font-weight: bold;
}
