#main-country-profiles {
    margin: 20px auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 90%; /* Adjust for responsive width */
    max-width: 900px; /* Max width for larger screens */
    box-sizing: border-box;
}

/* Country List Styling */
ul {
    list-style: none; /* Removes default bullets */
    text-align: center; /* Aligns the list items to the left */
}

ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #333;
    font-weight: bold;
    display: inline-block;
    transition: color 0.3s;
}

ul li a:hover {
    color: #b155c3; /* Hover color for links */
}