#main-country-profiles {
    margin: 20px auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 90%; /* Adjust for responsive width */
    max-width: 900px; /* Max width for larger screens */
    box-sizing: border-box;
}

#main-country-profiles h1 {
    margin: 0;
    padding: 0;
}

#main-country-profiles p {
    font-size: 1.3rem;
}

/* Country List Styling */
#main-country-profiles ul {
    list-style: none; /* Removes default bullets */
    padding: 0;
    text-align: left; /* Aligns the list items to the left */
    margin: 20px auto; /* Centers the list within the page */
    max-width: 760px;
}

#main-country-profiles ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #333;
    font-weight: bold;
    display: inline-block;
    transition: color 0.3s;
}

#main-country-profiles ul li a:hover {
    color: rgba(50, 0, 20, 0.8);
}