#main-quiz {
    margin: 20px auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 90%; /* Adjust for responsive width */
    max-width: 900px; /* Max width for larger screens */
    box-sizing: border-box;
}

#main-quiz h1 {
    margin: 0;
    padding: 0;
}

#main-quiz p {
    font-size: 1.3rem;
}

#main-quiz button {
    background: linear-gradient(90deg, #f7797d, #FBD786);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 12px 25px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;
    width: 100%; /* Full width for mobile responsiveness */
    box-sizing: border-box;
}

/* Additional Styles for Quiz */
#quizContainer {
    margin-top: 1.5rem; /* Space above question container */
}

#questionContainer {
    font-weight: bold; /* Bold text for question */
    margin-top: 1.5rem; /* Space above question text */
}
