#main-world-map {
    margin: 20px auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 90%; /* Adjust for responsive width */
    max-width: 900px; /* Max width for larger screens */
    box-sizing: border-box;
}

#main-world-map h1 {
    margin: 0;
    padding: 0;
}

#main-world-map p {
    font-size: 1.3rem;
}

.search-bar-container {
    text-align: center;
    margin-bottom: 15px;
}
#search-bar {
    margin: 0;
    padding: 8px;
    width: 90%;
    font-size: 16px;
    border-radius: 25px;
    border: 1px solid #ddd;
}
.reset-button-container {
    text-align: center;
    margin-top: 15px;
}
#reset-button {
    background: linear-gradient(90deg, #f7797d, #FBD786);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 12px 25px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
}